<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">

    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jquery-ui.min.js"></script>
    <script src="../js/d3.v3.min.js"></script>
    <script src="../js/function.js"></script>

    <style>
        svg {
            overflow: visible;
            background-color: #777;
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"><img class="img-head" src="/src/css/img/fris.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/src">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="organization.html">Tree view</a>
                </li>
                <li class="nav-item dropdown">
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="organization_v2.html">Tree view v2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="keyword-map.html">Keyword map</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="demo.html">Keyword map (light)</a>
                </li>
            </ul>

        </div>
    </nav>
    <p> Where are you UCB... ? Got dammed Thomas ! </p>
    <script>
        // the organization
        var jsonCircles = [{
            "x_axis": 500,
            "y_axis": 500,
            "radius": 40,
            "color": "green",
            "name": "UCL"
        }];
        //keyword around the organization
        var jsonCirclesData = [{
                "color": "green",
                "name": "UCB",
                "x": 0,
                "y": 0
            }, {
                "color": "green",
                "name": "UCA",
                "x": 0,
                "y": 0
            }, {
                "color": "green",
                "name": "UCD",
                "x": 0,
                "y": 0
            },
            {
                "color": "green",
                "name": "UCD",
                "x": 0,
                "y": 0
            },
            {
                "color": "green",
                "name": "UCE",
                "x": 0,
                "y": 0
            },
            {
                "color": "green",
                "name": "UCL",
                "x": 0,
                "y": 0
            }
        ];
        var radius = 200; //space between the circles
        var angles = [];
        for (i = 0; i < jsonCirclesData.length; i++) {
            angle = (i / (jsonCirclesData.length / 2)) * Math.PI; // Calculate the angle at which the element will be placed.
            // old version :            
            //d.x = (radius * Math.cos((i / (jsonCirclesData.length / 2)) * Math.PI)) + (1000 / 2),
            x = cosElementCircle(i, jsonCirclesData.length, 1000);
            y = sinElementCircle(i, jsonCirclesData.length, 1000);

            jsonCirclesData[i].x = x * 1.5;
            jsonCirclesData[i].y = y * 1.5;
        }
        var svgContainer = d3.select("body").append("svg")
            .attr("width", 1000)
            .attr("height", 1000);


        var lines = svgContainer.append("g").selectAll("line")
            .data(jsonCirclesData)
            .enter()
            .append("line");
        var circles = svgContainer.append("g").selectAll("circle")
            .data(jsonCircles)
            .enter()
            .append("g")
            .attr("transform", function (d, i) {
                // Set d.x and d.y here so that other elements can use it. d is 
                // expected to be an object here.
                d.x_axis = 500,
                    d.y_axis = 500;
                return "translate(" + d.x_axis + "," + d.y_axis + ")";
            })
            .append("circle");
        var nodes = svgContainer.append("g").selectAll("circle")
            .data(jsonCirclesData)
            .enter()
            .append("g")
            .attr("transform", function (d, i) {
                // Set d.x and d.y here so that other elements can use it. d is 
                // expected to be an object here.
                d.x = cosElementCircle(i, jsonCirclesData.length, 1000),
                    d.y = sinElementCircle(i, jsonCirclesData.length, 1000);
                //                d.x = (radius * Math.cos((i / (jsonCirclesData.length / 2)) * Math.PI)) + (1000 / 2),
                //                  d.y = (radius * Math.sin((i / (jsonCirclesData.length / 2)) * Math.PI)) + (1000 / 2);

                return "translate(" + d.x_axis + "," + d.y_axis + ")";
            })
            .append("circle");
        var texts = svgContainer.selectAll("text").data(jsonCircles).enter().append("text");
        // Draw lines between the circles and the organization
        var linesAttributes = lines
            .attr('x1', function (d, i) {
                return d.x;
            })
            .attr('y1', function (d, i) {
                return d.y;
            })
            .attr("x2", 500)
            .attr("y2", 500)
            .style("stroke", "black");
        var circleAttributes = circles
            .attr("r", function (d) {
                return d.radius;
            })
            .style("fill", function (d) {
                return d.color;
            });
        var textAttributes = texts
            .attr("x", function (d) {
                return d.x_axis - 15;
            })
            .attr("y", function (d) {
                return d.y_axis;
            })
            .text(function (d) {
                return d.name
            });
        var textsData = svgContainer.selectAll("text").data(jsonCirclesData).enter().append("text");

        //Circle of keywords
        var nodesAttributes = nodes
            .attr("cx", function (d, i) {
                return d.x;
            })
            .attr("cy", function (d, i) {
                return d.y;
            })
            .attr("r", function (d) {
                return 50;
            })
            .style("fill", function (d) {
                return d.color;
            });
        // Text of keywords
        console.log(jsonCirclesData);
        var textAttributesData = textsData
            .attr("x", function (d) {
                return d.x - 15;
            })
            .attr("y", function (d) {
                return d.y;
            })
            .text(function (d) {
                return d.name
            });
    </script>
</body>

</html>