<div id="footer">
    <div class="container">
        <span class="text-muted">FRIS is a project from oSoc18 funded by the Flanders Department of Economics and Innovation. It visualises the work
            of research groups in the Flanders Research Information System database.</span> <br>
            <img src="css/img/logo-flanders.svg" alt="Logo flanders" class="img-responsive footer-image">
    </div>
</div>

