<nav class="navbar navbar-expand-lg navbar-inverse bg-dark">
    <a class="navbar-brand" href="/">
        <img class="img-head" src="css/img/fris.png" alt="icon">
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <a class="breadcrumb-item  white" href="/">Home</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            <a class="nav-link" href="/src/view/organization.html">Tree view</a>
        </li>
        <li class="nav-item dropdown">
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/src/view/organization_v2.html">Tree view v2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/src/view/keyword-map.html">Keyword map</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/src/view/demo.html">Keyword map (light)</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="/src/view/demo_k.html">Fucking awesome circle :)</a>
        </li>
    </ul>
</nav>