<nav class="navbar navbar-expand-lg navbar-inverse bg-dark">
    <a class="navbar-brand" href="/">
        <img class="img-head" src="css/img/fris.png" alt="icon">
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <a class="breadcrumb-item  white menu-item " href="/">Home</a>
        <span class="breadcrumb-item active" id="content"></span>
    </div>

    <!--   <ul class="nav navbar-nav navbar-right">
        <li>
            <button class="btn btn-outline-success" id="history" onclick="window.history.go(-1); return false;">Back</button>
        </li>
    </ul> -->
</nav>