<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body id="body">

    <% include ../partials/header %>
    <% include search %>
    <% include ../partials/footer %>
</body>
</html>
