<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body id="body">
    <div class="content-page">

        <% include ../partials/header %>
            <% include search %>
    </div>
    <% include ../partials/footer %>
</body>

</html>