<!-- views/pages/organisation.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>

        <style>
            #body {
                width: 100%;
                height: 100%;
                margin: 0 auto;
            }

            svg {
                width: 100vw;
                height: 100vh;
                position: fixed;
                display: block;
                overflow: visible;
                box-shadow: 0px -0px 10000px transparent/*trick for chrome*/
            }
        </style>
</head>

<body id="body">

    <% include ../partials/header %>
    <script> $('#content').append('Keyword detail'); // show the name in the search bar</script>
    <script src="../js/trees/horizontal.js"></script>

</body>

</html>