<div class="middle margin-content vertical-center " id="div-search">
    <div class="row  margin-content margin-header">
        <div class="col-centered">
            <h1>

                Find research groups in Flanders
            </h1>
        </div>
    </div>
    <div class="row">
        <div id="demo" class="col-md-12">

            <input type="search" name="keyword" id="autocomplete" class="search__input" placeholder="What's your domain of interest ? e.g. Database, Water, Learning">
        </div>

    </div>
    <div class="margin-content align-items-center ">
        <div class="row">
            <div class="col-centered">
                <h2>Research groups in your domain of interest</h2>

            </div>
        </div>
    </div>


    <div class="container-fluid margin-content  ">
        <div class="align-items-center">

            <div class="row " id="search_result">
                <div class='result col-centered '>
                    <a class="btn btn-warning     margin-button-link" href="/keyword?Engineering" role="button">Engineering</a>
                    <a class="btn btn-warning margin-button-link" href="/keyword?Database" role="button">Database</a>
                    <a class="btn btn-warning margin-button-link" href="/keyword?Water" role="button">Water</a>
                </div>
            </div>
        </div>

    </div>

</div>

<script>
    $(function () {
        var selectedUuid = "";
        var words = [],
            search = $('#autocomplete');
        var oldSearch = "";
        if ("" != window.location.search) {
            oldSearch = window.location.search;
            oldSearch.replace("?", "");
            quickSearch(oldSearch);
        }

        search.keypress(function (e) {
            if (e.which == 13) {
                href();
                research();
            };
        });


        $('#popup').show('show', function () {
            l(selectedUuid);
        });

        var TTOjson;
        $.getJSON('js/json/TTO.json', function (data) {
            TTOjson = data;
        });

        function createLinksKeywords(keywords) {
            var stringLink = "";
            var cpt = 0;
            for (var i = 0; i < keywords[0].keywords.length; i++) {
                stringLink +=
                    '<a class="btn btn-warning margin-button-link" href="/keyword?' + keywords[0].keywords[
                    i] + '" role="button">' +
                    keywords[0].keywords[i] + '</a> ';
            }

            return stringLink;

        }

        function showMore() {
            //removes the link
            document.getElementById('link').parentElement.removeChild('link');
            //shows the #more
            document.getElementById('more').style.display = "block";
        }

        function createElementSearch(object) {
            var data = clearString(object);
            return " \
                <h1>" + data +
                "</h1> \
                <p><a href='/src/view/organization.html'>Search trends by organization</a></p> \
                ";
        }

        function research() {
            var search_text = $('#autocomplete')[0].value;
            words = search_text.split(" ");
            var organization = [];
            $('#search_result').html("").fadeOut(500);
            appendPage(words);
            search_json(words);

        }

        function quickSearch(words) {
            var organization = [];
            $('#search_result').html("").fadeOut(500);
            appendPage(words);
            search_json(words);

        }

        function search_json(words) {
            $.getJSON("http://"+href()+":5000/organisations/search?keyword=" + words, function (
                data) {
                var items = [];
                var heroicBlabla =
                    "Ad voluptate aute laborum occaecat nostrud labore ea eiusmod occaecat id reprehenderit ad cupidatat.Tempor est Lorem labore ad consequat tempor laboris dolor sint elit officia veniam.";

                if (data.length > 0) {
                    data.forEach(element => {
                        var shortcut = createLinksKeywords(element.researchOutputs);
                        var cropText = (heroicBlabla).substr(0, 250) + "...";
                        items.push(
                            " \
                                <div class='result col-xs-6 col-md-4 col-lg-4'><div class='jumbotron'> \
                            <h4 class='display-6' id='" +
                            element.organisation.uuid + "'>" + element.organisation.name +
                            "</h4><hr>\
                                " + shortcut +
                            "<hr><div id=" + element.organisation.uuid +
                            ">" + cropText +
                            "<a href='#podpup'>Read more.</a>\
                        </div><hr><p class='lead' id='link-" +
                            element.organisation.uuid +
                            "'><a class='btn btn-dark margin-button-link link' id='" +
                            element.organisation.uuid +
                            "' href='#popup' >» Details</a><a class='btn btn-warning margin-button-link' href=/explore?uuid=" +
                            element.organisation.uuid +
                            "&keyword=" + words +
                            " ><i class='fa fa-share-alt' aria-hidden='true'></i> Publication map </a></p></div></div>"
                        );

                    });


                } else {
                    items.push("No result...");
                }
                $('#div-search').animate({
                    'marginTop': '1%',
                    opacity: 1
                }, 1000);
                $("#search_result").append(items.join("")).hide().fadeIn(500);
                $('.link').click(function (e) {
                    $('#id_uuid').html(this.id);
                    $.getJSON("http://127.0.0.1:5000/organisation/" + this.id, function (data) {
                        var TTO;
                        for (var i = 0; i < TTOjson.length; i++) {
                            if (TTOjson[i].uuid == data.root_organisation.uuid) {
                                TTO = TTOjson[i];
                            }
                        }

                        $('#contact_mail').html(TTO.children[0].email);
                        $('#contact_phone').html(TTO.children[0].phone);
                        $('#contact_address').html(TTO.children[0].address);

                        var organisation = data.root_organisation.name;
                        $('#name_organisation').html(data.name);
                        $('#title_organisation').html(organisation);
                        organisation = data.name;
                        $('#description_title').html(data.research_activity);
                        var organisation = replaceAll(organisation.toLowerCase(), " ",
                            "-");
                        $('#link_portal').attr('href',
                            'https://www.researchportal.be/en/organisation/' +
                            organisation);
                    });


                });
            });
        }


    });
</script>
</div>

<div class="popup" id="popup">
    <a href="#section-tours" class="popup__close">&times;</a>
    <div class="popup__content">
        <div class="popup__scrollcontent">
            <h1 id="name_organisation"></h1>
            <h2 class="heading-secondary u-margin-bottom-small" id="title_organisation"></h2>      
            <hr>
            <div class="popup__left text-justify">
                <div class="popup__top">
                    <div class="popup_description">
                        <h3>Description</h3>
                        <div id="description_title">

                        </div>
                    </div>

                </div>

                <!--<div class="popup_publications">
                    <h3 class="heading-tertiary u-margin-bottom-small">Publications</h3>
                    <p class="popup__text">
                        <ul class="list-group">
                            <li>Begrijpbaarheid en controle voor context-gevoelige Internet of Things applicaties.</li>
                            <li>Ontwikkeling van Intelligible Internet-of-Things objecten en applicaties door eind-gebruikers</li>
                            <li>Structurele financiering instituten: structurele financiering EDM voor de werking van het instituut
                            </li>
                            <li>Structurele financiering instituten: projectfinanciering EDM voor fundamenteel onderzoek</li>
                            <li>
                                <a href="#">... see more</a>
                            </li>
                        </ul>
                    </p>
                </div>

                <div class="popup_members">
                    <h3 class="heading-tertiary u-margin-bottom-small">Members</h3>
                    <p class="popup__text">
                        <ul class="list-group">
                            <li>Frank Van Reeth</li>
                            <li>Philippe Bekaert</li>
                            <li>Bram Bonne</li>
                            <li>Jens Brulmans</li>
                            <li>
                                <a href="#">... see more</a>
                            </li>
                        </ul>
                    </p>
                </div>-->

            </div>

            <div class="popup__right text-justify">
                <div class="popup_contact">
                    <h3>Want to collaborate?</h3>
                    <p>
                        Contact the relevant Technology Transfer Office or Research Department! They will get you connected.
                    </p>
                </div>
                <br>
                <div class="popup_contact">
                    <h3 class="heading-tertiary u-margin-bottom-small">Contact</h3>
                    <ul class="list-group">
                        <li>
                            <i class="fa fa-envelope"></i>
                            <span class="icon-envelope-alt" id="contact_mail"></span>
                        </li>
                        <li>
                            <i class="fa fa-phone"></i>
                            <span class="icon-phone" id="contact_phone"></span>
                        </li>
                        <li>
                            <i class="fa fa-map-marker"></i>
                            <span class="icon-marker" id="contact_address"></span>
                        </li>
                    </ul>
                </div>
                <div class="button" id="popup_button">
                    <a id="link_portal" style="font-size: 80%">See more at researchportal.be</a>
                </div>
            </div>
        </div>
    </div>
</div>