<div class="middle margin-content vertical-center " id="div-search">
    <div class="row">
        <div id="demo" class="col-md-12">

            <input type="search" name="keyword" id="autocomplete" class="search__input" placeholder="Keyword : Database">
        </div>

    </div>
    <div class="container-fluid margin-content  d-flex align-items-center ">
        <div id="set-result" class="row result-set">


        </div>
    </div>


    <div class="container-fluid margin-content  d-flex align-items-center ">
        <div class="row" id="search_result">

        </div>

    </div>
    <script>
        $(function () {
            var words = [],
                search = $('#autocomplete');
            // l(window.location.search);
            var oldSearch = "";
            if ('null' != window.location.search) {
                oldSearch = window.location.search;
                oldSearch.replace("?", "");
                quickSearch(oldSearch);
            }

            /*
               if (window.location.pathname.indexOf("keyword")) {
                   var keyword = window.location.pathname.split("keyword=").pop();
                   research(keyword);

               }
            */

            //Compare the search keyword with a list
            search.keypress(function (e) {

                if (e.which == 13) {
                    research();
                };

            });

            function createLinksKeywords(keywords) {
                var stringLink = "";
                var cpt = 0;
                //  l(keywords);
                for (var i = 0; i < keywords[0].keywords.length; i++) {
                    // l(keywords[0].keywords);
                    stringLink +=
                        '<button class="btn btn-outline-success btn-static margin-button-link" href="#" role="button">' +
                        keywords[0].keywords[i] + '</button> ';
                }

                return stringLink;

            }

            function createElementSearch(object) {
                var data = clearString(object);
                return " \
                <h1>" + data +
                    "</h1> \
                <p><a href='/src/view/organization.html'>Search trends by organization</a></p> \
                ";
            }

            function research() {
                var search_text = $('#autocomplete')[0].value;
                words = search_text.split(" ");
                var organization = [];
                $('#search_result').html("");
                appendPage(words);
                $.getJSON("http://127.0.0.1:5000/organisations/search?keyword=" + words, function (
                    data) {
                    var items = [];

                    if (data.length > 0) {
                        /*   var textTitle = "<div><h1>Organisation result</h1></div>";
                        $('#title').html(textTitle);
 */
                        data.forEach(element => {
                            l(element);
                            //researchOutput
                            var shortcut = createLinksKeywords(element.researchOutputs);
                            //crop text
                            var cropText = (element.research_activity + "").substr(
                                0, 500) + "...";
                            items.push(
                                " \
                                <div class='result col-xs-6 col-md-4 col-lg-4'><div class='jumbotron'> \
                            <h4 class='display-6' id='" +
                                element.organisation.uuid + "'>" + element.organisation.name +
                                "</h4><hr>\
                                " + shortcut +
                                "<hr><p class='lead'><span class='text-right'><a class=btn btn-default href='#popup' role=button>» See university details</a> <a class=btn btn-default href=/explore?uuid=" +
                                element.organisation.uuid +
                                "&keyword=" + words +
                                " role=button>» Explore graph </a></span></p></div></div>"
                            );
                        });
                        $('#set-result').append(" <p>Result : </p><hr>").hide().fadeIn(500);

                    } else {
                        items.push("No result...");
                    }
                    $('#div-search').animate({
                        'marginTop': '1%',
                        opacity: 1
                    }, 1000);
                    $("#search_result").append(items.join("")).hide().fadeIn(500);
                });
            }

            function quickSearch(words) {
                var organization = [];
                $('#search_result').html("");
                appendPage(words);
                $.getJSON("http://127.0.0.1:5000/organisations/search?keyword=" + words, function (
                    data) {
                    var items = [];

                    if (data.length > 0) {
                        /*   var textTitle = "<div><h1>Organisation result</h1></div>";
                        $('#title').html(textTitle);
 */
                        data.forEach(element => {
                            //l(element);
                            //researchOutput
                            var shortcut = createLinksKeywords(element.researchOutputs);
                            //crop text
                            var cropText = (element.research_activity + "").substr(
                                0, 500) + "...";
                            items.push(
                                " \
                                <div class='result col-xs-6 col-md-4 col-lg-4'><div class='jumbotron'> \
                            <h4 class='display-6' id='" +
                                element.organisation.uuid + "'>" + element.organisation.name +
                                "</h4><hr>\
                                " + shortcut +
                                "<hr><p class='lead'><span class='text-right'><a class=btn btn-default href='#popup' role=button>» See university details</a> <a class=btn btn-default href=/explore?uuid=" +
                                element.organisation.uuid +
                                "&keyword=" + words +
                                " role=button>» Explore graph </a></span></p></div></div>"
                            );
                        });
                        $('#set-result').append(" <p>Result : </p><hr>").hide().fadeIn(500);

                    } else {
                        items.push("No result...");
                    }
                    $('#div-search').animate({
                        'marginTop': '1%',
                        opacity: 1
                    }, 1000);
                    $("#search_result").append(items.join("")).hide().fadeIn(500);
                });
            }
        });
    </script>
</div>

<div class="popup" id="popup">
    <a href="#section-tours" class="popup__close">&times;</a>
    <div class="popup__content">
        <h2 class="heading-secondary u-margin-bottom-small">Expertisecentrum voor Digitale Media (EDM)</h2>
        <div class="popup__scrollcontent">
            <div class="popup__top">
                <h3 class="heading-tertiary">Contact</h3>
                <p class="popup__text">
                    <ul>
                        <li>
                            <span class="icon-envelope-alt"></span> "icon-email" address@email.be</li>
                        <li>
                            <span class="icon-phone"></span> "icon-phone" 04777587308</li>
                    </ul>

                </p>
                <hr>
            </div>
            <div class="popup__left text-justify">
                <h3 class="heading-tertiary u-margin-bottom-small">Projects</h3>
                <p class="popup__text">

                    <li>Begrijpbaarheid en controle voor context-gevoelige Internet of Things applicaties.</li>
                    <li>Ontwikkeling van Intelligible Internet-of-Things objecten en applicaties door eind-gebruikers</li>
                    <li>Structurele financiering instituten: structurele financiering EDM voor de werking van het instituut</li>
                    <li>Structurele financiering instituten: projectfinanciering EDM voor fundamenteel onderzoek</li>
                    <li>IBBT Art&#38;D project: Photography beyond the still image (Photography and Kinetography)</li>
                    <li>FWO-project: CoLaSUE: Contextbewuste basisinfrastructuur voor locale diensten in grootschalige Ubicomp
                        omgevingen
                    </li>
                    <li>Het transformeren van human interface designs via model-driven engineering</li>

                </p>
            </div>

            <div class="popup__right text-justify">
                <h3 class="heading-tertiary u-margin-bottom-small">Members</h3>
                <p class="popup__text">

                    <li>Frank Van Reeth</li>
                    <li>Philippe Bekaert</li>
                    <li>Bram Bonne</li>
                    <li>Jens Brulmans</li>
                    <li>Johan Claer</li>
                    <li>Karin Coninx</li>
                    <li>Sven Coppers</li>
                    <li>Fredy Cuenca Lucero</li>
                    <li>Tom De Weyer</li>
                    <li>Fabian Di Fiore</li>
                    <li>...</li>

                </p>
            </div>
        </div>
    </div>
</div>