<div class="middle margin-content vertical-center " id="div-search">
    <div class="row  margin-content margin-header">
        <div class="col-centered">
            <h1>

                Find research groups in Flanders
            </h1>
        </div>
    </div>
    <div class="row">
        <div id="demo" class="col-md-12">

            <input type="search" name="keyword" id="autocomplete" class="search__input" placeholder="What's your domain of interest ? e.g. Database, Water, Learning">
        </div>

    </div>
    <div class="margin-content align-items-center ">
        <div class="row">
            <div class="col-centered">
                <h2>Research groups in your domain of interest</h2>

            </div>
        </div>
    </div>


    <div class="container-fluid margin-content  ">
        <div class="align-items-center">

            <div class="row " id="search_result">
                <div class='result col-xs-4 col-md-4 col-lg-4 '>
                    <a class="btn btn-outline-warning     margin-button-link" href="/keyword?Engineering" role="button">Engineering</a>
                </div>
                <div class='result col-xs-4 col-md-4 col-lg-4'>
                    <a class="btn btn-outline-warning margin-button-link" href="/keyword?Database" role="button">Database</a>
                </div>
                <div class='result col-xs-4 col-md-4 col-lg-4'>
                    <a class="btn btn-outline-warning margin-button-link" href="/keyword?Water" role="button">Water</a>
                </div>
            </div>
        </div>

    </div>

</div>


<script>
    $(function () {
        var words = [],
            search = $('#autocomplete');
        var oldSearch = "";
        if ("" != window.location.search) {
            oldSearch = window.location.search;
            oldSearch.replace("?", "");
            quickSearch(oldSearch);
        }

        //Compare the search keyword with a list
        search.keypress(function (e) {

            if (e.which == 13) {
                research();
            };

        });

        function createLinksKeywords(keywords) {
            var stringLink = "";
            var cpt = 0;
            for (var i = 0; i < keywords[0].keywords.length; i++) {
                stringLink +=
                    '<a class="btn btn-outline-warning margin-button-link" href="/keyword?' + keywords[0].keywords[i] +
                    '" role="button">' +
                    keywords[0].keywords[i] + '</a> ';
            }

            return stringLink;

        }

        function showMore() {
            //removes the link
            document.getElementById('link').parentElement.removeChild('link');
            //shows the #more
            document.getElementById('more').style.display = "block";
        }

        function createElementSearch(object) {
            var data = clearString(object);
            return " \
                <h1>" + data +
                "</h1> \
                <p><a href='/src/view/organization.html'>Search trends by organization</a></p> \
                ";
        }

        function research() {
            var search_text = $('#autocomplete')[0].value;
            words = search_text.split(" ");
            var organization = [];
            $('#search_result').html("").fadeOut(500);
            appendPage(words);
            $.getJSON("http://127.0.0.1:5000/organisations/search?keyword=" + words, function (
                data) {
                l(data);
                var items = [];
                var heroicBlabla =
                    "Ad voluptate aute laborum occaecat nostrud labore ea eiusmod occaecat id reprehenderit ad cupidatat.Tempor est Lorem labore ad consequat tempor laboris dolor sint elit officia veniam.";

                if (data.length > 0) {
                    //  l(data);
                    data.forEach(element => {
                        var shortcut = createLinksKeywords(element.researchOutputs);
                        var heroicBlabla =
                            "Ad voluptate aute laborum occaecat nostrud labore ea eiusmod occaecat id reprehenderit ad cupidatat.Tempor est Lorem labore ad consequat tempor laboris dolor sint elit officia veniam. Veniam et veniam voluptate Lorem dolore officia tempor incididunt aute dolor sunt nisi.Dolor mollit excepteur elit minim incididunt.Tempor irure minim voluptate et velix.";

                        var cropText = (heroicBlabla).substr(
                            0, 250) + "...";
                        items.push(
                            " \
                                <div class='result col-xs-6 col-md-4 col-lg-4'><div class='jumbotron'> \
                            <h4 class='display-6' id='" +
                            element.organisation.uuid + "'>" + element.organisation.name +
                            "</h4><hr>\
                                " + shortcut +
                            "<hr><div class='fuck' id=" + element.organisation.uuid +
                            ">" + cropText + "<a href='#popup'>Read more.</a>\
                        </div><hr><p class='lead'><a class='btn btn-dark margin-button-link' href='#popup' ><i class='fa fa-list' aria-hidden='true'></i> Details</a> <a class='btn btn-warning margin-button-link' href=/explore?uuid=" +
                            element.organisation.uuid +
                            "&keyword=" + words +
                            " ><i class='fa fa-share-alt' aria-hidden='true'></i> Publication map </a></p></div></div>"
                        );
                        $('.service-info').hide();
                        $('.read-more').click(function () {
                            $(this).siblings('.service-info').show();
                            $(this).hide();
                            $(this).parent().find('.read-less').show();
                        })
                        $('.read-less').click(function () {
                            $(this).siblings('.service-info').hide();
                            $(this).hide();
                            $(this).parent().find('.read-more').show();
                        })

                    });

                } else {
                    items.push("No result...");
                }
                $('#div-search').animate({
                    'marginTop': '1%',
                    opacity: 1
                }, 1000);
                $("#search_result").append(items.join("")).hide().fadeIn(500);
            });
        }

        function quickSearch(words) {
            var organization = [];
            $('#search_result').html("").fadeOut(500);
            appendPage(words);
            $.getJSON("http://127.0.0.1:5000/organisations/search?keyword=" + words, function (
                data) {
                var items = [];
                var heroicBlabla =
                    "Ad voluptate aute laborum occaecat nostrud labore ea eiusmod occaecat id reprehenderit ad cupidatat.Tempor est Lorem labore ad consequat tempor laboris dolor sint elit officia veniam. Veniam et veniam voluptate Lorem dolore officia tempor incididunt aute dolor sunt nisi.Dolor mollit excepteur elit minim incididunt.Tempor irure minim voluptate et velix.";

                if (data.length > 0) {

                    data.forEach(element => {
                        var shortcut = createLinksKeywords(element.researchOutputs);
                        var cropText = (element.research_activity + "").substr(
                            0, 500) + "...";
                        items.push(
                            " \
                                <div class='result col-xs-6 col-md-4 col-lg-4'><div class='jumbotron'> \
                            <h4 class='display-6' id='" +
                            element.organisation.uuid + "'>" + element.organisation.name +
                            "</h4>\
                                " + shortcut +
                            "<hr><div class='fuck' id=" + element.organisation.uuid + ">" +
                            heroicBlabla +
                            "</div><hr><p class='lead'><a class='btn btn-dark margin-button-link' href='#popup' >» Details</a> <a class='btn btn-warning margin-button-link' href=/explore?uuid=" +
                            element.organisation.uuid +
                            "&keyword=" + words +
                            " role=button>» Explore graph </a></span></p></div></div>"
                        );
                        var selection = "#" + element.organisation.uuid;
                        new showHideText(selection, {
                            charQty: 10

                        });
                    });
                    $('#set-result').append(" <p>Result : </p><hr>").hide().fadeIn(500);

                } else {
                    items.push("No result...");
                }
                $('#div-search').animate({
                    'marginTop': '1%',
                    opacity: 1
                }, 1000);
                $("#search_result").append(items.join("")).hide().fadeIn(500);
            });
        }


    });
</script>
</div>

<div class="popup" id="popup">
    <a href="#section-tours" class="popup__close">&times;</a>
    <div class="popup__content">
        <div class="popup__scrollcontent">
            <h2 class="heading-secondary u-margin-bottom-small">Expertisecentrum voor Digitale Media (EDM)</h2>
            <div class="popup__top">

                <hr>
            </div>
            <div class="popup__left text-justify">
                <h3 class="heading-tertiary u-margin-bottom-small">Projects</h3>
                <p class="popup__text">
                    <ul class="list-group">
                        <li>Begrijpbaarheid en controle voor context-gevoelige Internet of Things applicaties.</li>
                        <li>Ontwikkeling van Intelligible Internet-of-Things objecten en applicaties door eind-gebruikers</li>
                        <li>Structurele financiering instituten: structurele financiering EDM voor de werking van het instituut</li>
                        <li>Structurele financiering instituten: projectfinanciering EDM voor fundamenteel onderzoek</li>
                        <li>IBBT Art&#38;D project: Photography beyond the still image (Photography and Kinetography)</li>
                        <li>FWO-project: CoLaSUE: Contextbewuste basisinfrastructuur voor locale diensten in grootschalige Ubicomp
                            omgevingen
                        </li>
                        <li>Het transformeren van human interface designs via model-driven engineering</li>
                    </ul>


                </p>

                <h3 class="heading-tertiary u-margin-bottom-small">Members</h3>
                <p class="popup__text">

                    <li>Frank Van Reeth</li>
                    <li>Philippe Bekaert</li>
                    <li>Bram Bonne</li>
                    <li>Jens Brulmans</li>
                    <li>Johan Claer</li>
                    <li>Karin Coninx</li>
                    <li>Sven Coppers</li>
                    <li>Fredy Cuenca Lucero</li>
                    <li>Tom De Weyer</li>
                    <li>Fabian Di Fiore</li>
                    <li>...</li>
                </p>
            </div>

            <div class="popup__right text-justify">
                <div class="popup_contact">
                    <h3>Want to collaborate?</h3>
                    <p>
                        Contact the relevant Technology Transfer Office! They will get you connected.
                    </p>
                </div>
                <br>
                <div class="popup_contact">
                    <h3 class="heading-tertiary">Contact</h3>
                    <p class="popup__text">
                        <li>
                            <span class="icon-envelope-alt"></span> "icon-email" address@email.be</li>
                        <li>
                            <span class="icon-phone"></span> "icon-phone" 04777587308</li>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>