<div class="middle margin-content vertical-center " id="div-search">
    <div class="row  margin-content margin-header">
        <div class="col-centered">
            <h1>

                Find research groups in Flanders
            </h1>
        </div>
    </div>
    <div class="row">
        <div id="demo" class="col-md-12">
            <div class="search__input">
                <i class="fa fa-search"></i>
                <input type="search" name="keyword" id="autocomplete" placeholder="What's your domain of interest ? e.g. Database, Water, Learning">
                <script>
                    var elem = document.getElementById('autocomplete');
                    elem.addEventListener('focusin', () => {
                        elem.parentNode.dispatchEvent(new Event('focusin'));
                    });
                    elem.addEventListener('focusout', () => {
                        elem.parentNode.dispatchEvent(new Event('focusout'));
                    });    
                </script>
            </div>
        </div>


    </div>
    <div class="margin-content">

        <div class="row">
            <div class="col-centered">
                <button class="btn btn-outline-warning" id="button_search">Search</button>
            </div>
        </div>
    </div>

    <div class="margin-content align-items-center ">
        <div class="row">
            <div class="col-centered" id="result_title">
            </div>
        </div>
    </div>


    <div class="container-fluid margin-content  ">
        <div class="align-items-center">

            <div class="row " id="search_result">
                <div class='result col-centered '>
                    <a class="btn btn-warning     margin-button-link" href="/keyword?Engineering" role="button">Engineering</a>
                    <a class="btn btn-warning margin-button-link" href="/keyword?Database" role="button">Database</a>
                    <a class="btn btn-warning margin-button-link" href="/keyword?Water" role="button">Water</a>
                </div>
            </div>
        </div>

    </div>

</div>

<script>
    $(function () {
        var selectedUuid = "",
            words = [],
            search = $('#autocomplete'),
            button_search = $('#button_search'),
            oldSearch = "";
        if ("" != window.location.search) {
            oldSearch = window.location.search;
            oldSearch.replace("?", "");
            quickSearch(oldSearch);
        }
        button_search.click(function (e) {
            research();
        });

        search.keypress(function (e) {
            if (e.which == 13) {
                href();
                research();
            };
        });


        $('#popup').show('show', function () {
            l(selectedUuid);
        });

        var TTOjson;
        $.getJSON('js/json/TTO.json', function (data) {
            TTOjson = data;
            l(TTOjson);
        });

        function createLinksKeywords(keywords) {
            var stringLink = "";
            var cpt = 0;
            for (var i = 0; i < keywords[0].keywords.length; i++) {
                stringLink +=
                    '<a class="btn btn-outline-warning margin-button-link" href="/keyword?' + keywords[0].keywords[
                        i] + '" role="button">' +
                    keywords[0].keywords[i] + '</a> ';
            }

            return stringLink;

        }

        function showMore() {
            //removes the link
            document.getElementById('link').parentElement.removeChild('link');
            //shows the #more
            document.getElementById('more').style.display = "block";
        }

        function createElementSearch(object) {
            var data = clearString(object);
            return " \
                <h1>" + data +
                "</h1> \
                <p><a href='/src/view/organization.html'>Search trends by organization</a></p> \
                ";
        }

        function research() {
            var search_text = $('#autocomplete')[0].value;
            words = search_text.split(" ");
            var organization = [];
            $('#search_result').html("").fadeOut(500);
            appendPage(words);
            search_json(words);

        }

        function quickSearch(words) {
            var organization = [];
            $('#search_result').html("").fadeOut(500);
            appendPage(words);
            search_json(words);

        }

        function search_json(words) {
            $('#search_result').loading({
                stoppable: true
            });
            $.getJSON("http://" + href() + ":5000/organisations/search?keyword=" + words, function (
                data) {
                var items = [];
                var heroicBlabla =
                    "Ad voluptate aute laborum occaecat nostrud labore ea eiusmod occaecat id reprehenderit ad cupidatat.Tempor est Lorem labore ad consequat tempor laboris dolor sint elit officia veniam.";

                if (data.length > 0) {
                    data.forEach(element => {
                        var shortcut = createLinksKeywords(element.researchOutputs),
                            cropText;
                        if (element.organisation.research_activity) {

                            cropText = (element.organisation.research_activity).substr(0, 200) +
                                "...";
                        } else {
                            cropText = "";
                        }
                        items.push(
                            " \
                                <div class='result col-xs-6 col-md-4 col-lg-4'><div class='jumbotron min-text'> \
                            <h4 class='display-6' id='" +
                            element.organisation.uuid + "'>" + element.organisation.name +
                            "</h4><hr>\
                                " + shortcut +
                            "<hr><div id=" + element.organisation.uuid +
                            ">" + cropText +
                            " </div><hr><p class='lead' id='link-" +
                            element.organisation.uuid +
                            "'><a class='btn btn-primary margin-button-link link' id='" +
                            element.organisation.uuid +
                            "' href='#exampleModal' id='popup_great' data-toggle='modal' data-target='#exampleModal' >» Details</a><a class='btn btn-warning margin-button-link' href=/explore?uuid=" +
                            element.organisation.uuid +
                            "&keyword=" + words +
                            " ><i class='fa fa-share-alt' aria-hidden='true'></i> Publication map </a></p></div></div>"
                        );


                    });
                    $('#result_title').html("");
                    $('#result_title').append('<h2>research groups working on ' + clearKeyword(words) +
                        '</h2>');


                } else {
                    items.push("No result...");
                }
                $('#search_result').loading('stop');

                $('#div-search').animate({
                    'marginTop': '1%',
                    opacity: 1
                }, 1000);
                $("#search_result").append(items.join("")).hide().fadeIn(500);
                $('.link').click(function (e) {
                    $('#id_uuid').html(this.id);
                    $.getJSON("http://" + href() + ":5000/organisation/" + this.id, function (
                        data) {

                        //l(data.root_organisation.uuid);
                        var TTO;
                        for (var i = 0; i < TTOjson.length; i++) {
                            if (data.root_organisation.name == TTOjson[i].name) {
                                TTO = TTOjson[i];
                            }
                        }
                        var bodyContent = 'Dear ' + data.name +
                            ', I am writing after see your publication on openexpertise.be. ';
                        $('#contact_mail').html("<a href='mailto:" + TTO.children[0].email +
                            "?Subject=Collaboration possibility with " + data.name +
                            "&body=" + bodyContent + "' target='_top'>" + TTO.children[
                                0].email + "</a>");
                        $('#contact_phone').html(TTO.children[0].phone);
                        $('#contact_address').html(
                            "<a href='https://www.openstreetmap.org/search?query=" +
                            TTO.children[0].address + "' target='_blank'>" + TTO.children[
                                0].address + "</a>");

                        var organisation = data.root_organisation.name;
                        $('#name_organisation').html(data.name);
                        $('#title_organisation').html(organisation);
                        organisation = data.name;
                        $('#description_title').html(data.research_activity);
                        var organisation = replaceAll(data.root_organisation.name.toLowerCase(), " ",
                            "-");
                        $('#link_portal').attr('href',
                            'https://www.researchportal.be/en/organisation/' +
                            organisation).attr('target','_blank');
                    });


                });
            });
        }


    });
</script>
</div>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="width:1250px;">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <h1 id="name_organisation"></h1>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-header">
                <div>
                    <h3 class="modal-title" id="title_organisation"></h3>
                </div>

            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-6">
                            <h3>Description</h3>
                        <div id="description_title"></div>
                        <div class="popup__top">

                            <div class="popup_description">
                                <div id="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="popup_contact  margin-content nmin-content-height">
                            <h3>Want to collaborate?</h3>
                            <p>
                                Contact the relevant Technology Transfer Office or Research Department. They will get you connected.
                            </p>
                        </div>

                        <div class="popup_contact margin-content min-content-height">
                            <h3 class="heading-tertiary u-margin-bottom-small">Contact</h3>
                            <ul class="list-group">
                                <li>
                                    <i class="fa fa-envelope"></i>
                                    <span class="icon-envelope-alt" id="contact_mail"></span>
                                </li>
                                <li>
                                    <i class="fa fa-phone"></i>
                                    <span class="icon-phone" id="contact_phone"></span>
                                </li>
                                <li>
                                    <i class="fa fa-map-marker"></i>
                                    <span class="icon-marker" id="contact_address"></span>
                                </li>
                            </ul>
                        </div>
                        <div class="button" id="popup_button">
                            <a id="link_portal" class="btn btn-warning margin-button-link" style="font-size:1.75rem;">
                                <i class='fa fa-share-alt' aria-hidden='true'></i> See more at researchportal.be</a>
                        </div>
                    </div>
                </div>


            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
</div>