<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/selectize.css">
    <link rel="stylesheet" href="../css/jquery.auto-complete.css">
    <link rel="stylesheet" href="../css/jquery-ui.min.css">
    <script src="../js/jquery.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="../js/jquery-ui.min.js"></script>
    <script src="../js/jquery.auto-complete.min.js"></script>
    <script src="../js/selectize.js"></script>
    <script src="../js/d3.v3.min.js"></script>
    <script src="https://d3js.org/d3-collection.v1.min.js"></script>
    <script src="../js/function.js"></script>
    <script src="https://d3js.org/d3-collection.v1.min.js"></script>
    <script src="https://d3js.org/d3-dispatch.v1.min.js"></script>
    <script src="https://d3js.org/d3-quadtree.v1.min.js"></script>
    <script src="https://d3js.org/d3-timer.v1.min.js"></script>
    <script src="https://d3js.org/d3-force.v1.min.js"></script>
    <style>
        .links line {
            stroke: #999;
            stroke-opacity: 0.6;

        }

        text {
            font-size: 14px;
            fill: #eff;
        }

        circle {
            fill: #3498db;
        }

        .green {
            background-color: #16a085;
        }

        .red {
            background-color: #e74c3c;
        }
    </style>
</head>

<body id="body">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#"><img class="img-head" src="/src/css/img/fris.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
        
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/src">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="organization.html">Tree view</a>
                        </li>
                        <li class="nav-item dropdown">
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="organization_v2.html">Tree view v2</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="keyword-map.html">Keyword map</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="demo.html">Keyword map (light)</a>
                        </li>
        
                    </ul>
        
                </div>
            </nav>
    <form>
        <label for="radius">Radius:</label>
        <input type="text" id="radius" name="radius" value=400>

        <label for="numNodes">Number of elements:</label>
        <input type="text" id="numNodes" name="radius" value=20>
    </form>

    <div class="container-fluid">
        <script>
            (function () {

                var createNodes = function (numNodes, radius) {
                    var nodes = [],
                        links = [],
                        width = (radius * 2) + 50,
                        height = (radius * 2) + 50,
                        angle,
                        x,
                        y,
                        i;

                    nodes.push({
                        'id': -1,
                        'x': width / 2,
                        'y': height / 2,
                        'name': 'UCL'
                    });
                    var data
                    for (i = 0; i < numNodes; i++) {
                        angle = (i / (numNodes / 2)) * Math.PI; // Calculate the angle at which the element will be placed.
                        // For a semicircle, we would use (i / numNodes) * Math.PI.

                        x = (radius * Math.cos(angle)) + (width / 2); // Calculate the x position of the element.
                        y = (radius * Math.sin(angle)) + (width / 2); // Calculate the y position of the element.
                        nodes.push({
                            'id': i,
                            'x': x,
                            'y': y,
                            'name': 'KEYWORD ' + i
                        });
                    }

                    return nodes;
                }

                var createSvg = function (radius, callback) {

                    var margin = {
                            top: 20,
                            right: 120,
                            bottom: 20,
                            left: 120
                        },
                        width = $(document).width(),
                        height = $(document).height();

                    var svg = d3.select("body").append("svg")
                        .attr("width", width + margin.right + margin.left)
                        .attr("height", height + margin.top + margin.bottom)
                        .style("overflow", "visible")
                        .append("g")
                        .attr("transform", "translate(" + width / 4 + "," + margin.top * 3 + ")");


                    callback(svg);

                }

                var createElements = function (svg, nodes, elementRadius, links) {
                    element = svg.selectAll('line')
                        .data(nodes)
                        .enter().append('line')
                        .attr('x1', function (d, i) {
                            return d.x;
                        })
                        .attr('y1', function (d, i) {
                            return d.y;
                        })
                        .attr("x2", nodes[0].x)
                        .attr("y2", nodes[0].y)
                        .style("stroke", "black");
                    element = svg.selectAll('circle')
                        .data(nodes)
                        .enter().append('svg:circle')
                        .attr('r', elementRadius * 10)
                        .attr('cx', function (d, i) {
                            return d.x;
                        })
                        .attr('cy', function (d, i) {
                            return d.y;
                        });



                    element = svg.selectAll('text')
                        .data(nodes)
                        .enter().append('svg:text')
                        .attr("x", function (d) {
                            return d.x - 45
                        })
                        .attr("y", function (d) {
                            return d.y
                        })
                        .style("color", "red")
                        .text(function (d) {
                            return d.name;
                        });
                }


                var draw = function () {
                    var numNodes = $("#numNodes").val() || 100;
                    var radius = $("#radius").val() || 200;
                    var nodes = createNodes(numNodes, radius);
                    var links = createLinks(nodes);
                    createSvg(radius, function (svg) {
                        createElements(svg, nodes, 5, links);

                    });

                }

                function createLinks(nodes) {
                    var links = []
                    nodes.forEach(element => {
                        links.push({
                            'source': element.id,
                            'target': -1
                        });
                    });
                    return links;
                }

                $(document).ready(function () {
                    draw();
                });

                $("#radius, #numNodes").bind('keyup', function (e) {
                    draw();
                });

            })();
        </script>
        <script>
            < /body>

            <
            /html>