.node circle {
    fill: #999
}

.node text {
    font: 10px sans-serif
}

.node--internal circle {
    fill: #555
}

.node--internal text {
    text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff
}

.outline {
    margin: 0 auto;
    width: 60%;
    margin-bottom: 2em
}

.titletext {
    display: flex;
    color: #72c5f7;
    align-items: center;
    justify-content: center;
    position: relative
}

.link {
    fill: none;
    stroke: #555;
    stroke-opacity: .4;
    stroke-width: 1.5px
}

.bar {
    fill: green
}

html,
body {
    width: 100%;
    height: 100%;
    font-size: 14px;
    box-sizing: border-box;
    min-height: 100vh;
    position: relative;
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

svg {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.highlight {
    fill: red
}

.title {
    fill: #222;
    font-size: 14px;
    font-weight: 200
}

.left {
    margin-bottom: 25%
}

.circle {
    font-size: 20px;
    color: #fff;
    text-align: center;
    background: #1e272e;
    padding: 3em
}

.link {
    stroke: #999;
    stroke-width: 1.1px;
    stroke-opacity: .7
}

.textFadeIn {
    font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-anchor: middle;
    pointer-events: none;
    font-weight: 200;
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s;
    -ms-animation: fadein 1s;
    -o-animation: fadein 1s;
    animation: fadein 1s
}

@keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.node:hover circle {
    fill: orange
}

.keyword-main {
    font: 20px Roboto, Lato, Arial, sans-serif;
    font-weight: 200;
    color: #323211;
    overflow: hidden
}

.center {
    width: 90%;
    display: block;
    margin: 0 auto;
    height: 40px
}

.node {
    cursor: pointer
}

.node circle {
    fill: #fff;
    stroke: #4682b4;
    stroke-width: 1.5px
}

.node text {
    font: 10px sans-serif
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px
}

#canvas {
    margin: 0 auto;
    overflow: auto;
    display: block;
}

path {
    fill: none;
    stroke: #999
}

input[type=search] {
    background-color: #eee;
    border: none;
    color: #000;
    box-shadow: 1px;
    border-radius: 40px;
    display: block;
    margin: 0 auto;
    padding: 17px;
    padding-left: 55px;
    font-size: 13px;
    color: gray;
    background-image: url('http://i47.tinypic.com/r02vbq.png');
    background-repeat: no-repeat;
    background-position: left center;
    outline: 0;
}

.borderCircle {
    box-shadow: 10px 5px 5px #be3402
}

.margin-content {
    margin: 20px;
}
.margin-header{
    margin:5%;
}

.search {
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative
}

.search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    border: none;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 70%;
    transition: all .2s;
    margin-right: -3.25rem
}

.search__input:focus {
    outline: none;
    width: 80%
}

.search__input::-webkit-input-placeholder {
    font-weight: 100
}

.search__box {
    position: absolute;
    width: 100%;
    top: 100%;
    background-color: #fff;
    padding: .5rem 1rem;
    border: none;
    max-height: 0;
    left: 0;
    overflow: hidden
}

.information {
    width: 300px;
    float: left;
    background-color: red
}

hr {
    color: #7f8fa6
}

.node {
    cursor: pointer;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node text {
    font: 10px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

svg {
    margin: 0 auto;
}

.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}

@supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .popup {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba(0, 0, 0, 0.3);
    }
}

.popup__content {
    width: 66.6666667%;
    height: 80%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all .5s .2s;
}

.popup__scrollcontent {
    height: 100%;
    overflow: auto;
}

.popup__top {
    width: 100%;
    float: left;
    vertical-align: middle;
    padding-left: 3rem;
    padding-top: 3rem;
}

.popup__left {
    width: 50%;
    float: left;
    vertical-align: middle;
    padding: 3rem;
}

.popup__right {
    width: 50%;
    float: right;
    vertical-align: middle;
    padding: 3rem;
}

.popup__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
}

.popup:target {
    opacity: 1;
    visibility: visible;
}

.popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.popup__close:link,
.popup__close:visited {
    color: #777;
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    line-height: 1;
}

.popup__close:hover {
    color: #cc0000;
}

.node {
    cursor: pointer;
}

.overlay {
    background-color: #EEE;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node text {
    font-size: 10px;
    font-family: sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

.templink {
    fill: none;
    stroke: red;
    stroke-width: 3px;
}

.ghostCircle.show {
    display: block;
}

.ghostCircle,
.activeDrag .ghostCircle {
    display: none;
}

.node {
    cursor: pointer;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node text {
    font: 10px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

.img-head {
    max-width: 40px;
}

.arr-right .breadcrumb-item+.breadcrumb-item::before {
    content: "›";
    vertical-align: top;
    color: #408080;
    font-size: 35px;
    line-height: 18px;
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    padding-left: .5rem;
    color: #6c757d;
}

.margin-button-link {
    margin: 3px;
}

.inline-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.content-justify {
    text-align: justify;
}

.btn-static {
    pointer-events: none;
}

.white {
    color: #fff;
}

.centerSearch {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

/* for search bar */

.stylish-input-group .input-group-addon {
    background: white !important;
}

.stylish-input-group .form-control {
    border-right: 0;
    box-shadow: 0 0 0;
    border-color: #ccc;
}

.stylish-input-group button {
    border: 0;
    background: transparent;
}

.align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
}

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

.middle {
    margin-top: 10%;
}

.vertical-center {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: auto;
    /* These two lines are counted as one :-)       */
    align-items: center;
}

.menu-item:hover {
    color: #eee;
    text-decoration: none;
}

.morecontent span {
    display: none;
}

.morelink {
    display: block;
}

.jumbotron {
    padding: 2rem;
    text-align: justify;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

#footer {
    position: relative;
    margin: 0;
    height: 100px;
    bottom: 0;
    width: 100%;
}

.footer-image{
    width: 250px;
    display: block;
    margin: 0 auto;
    fill: #4682b4;
}